<p id="notice"><%= notice %></p>

<div style="margin-left:25%;">
  <div class="user-profile">
    <div class="profile row">
      <div class="col-md-4 avatar">
        <div class="wrapper">
          <img src="https://avatars1.githubusercontent.com/u/18247044?s=460&v=4">
        </div>
      </div>
      
      <div class="col-md-8 basic-info">
        <div class="user-wrapper">
          <h2 class="username">shariquemohd</h2>
          <a class="edit-profile">
            <button>Edit Profile</button>
          </a>
        </div>
        <ul class="posts">
          <li><span> <%= @posts.count %> </span> posts</li>
          <li><span>0</span> followers</li>
          <li><span>0</span> following</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="user-images">
  <% @posts.each do |post|%>
    <div class="wrapper">
      <%=image_tag post.image %>
    </div>
    <br>
  <% end %>
</div>